---
import { Image } from 'astro:assets';
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import TypeScript from "./icons/TypeScript.astro";
import React from "./icons/React.astro";
import Vue from "./icons/Vue.astro";
import Vite from "./icons/Vite.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-zinc-500 text-white",
        icon: NextJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-[#007ACC] text-white",
        icon: TypeScript,
    },
    REACT: {
        name: "React",
        class: "bg-[#20232A] text-[#61DAFB]",
        icon: React,
    },
    VUE: {
        name: "Vue.js",
        class: "bg-[#183D2C] text-white",
        icon: Vue,
    },
    VITE: {
        name: "Vite",
        class: "bg-[#1B1B1F] text-white",
        icon: Vite,
    },
};

const PROJECTS = [
    {
        title: t("personal_projects.kernelia.title"),
        description: t("personal_projects.kernelia.description"),
        github: "https://github.com/raulfdeztdo/kernelia",
        link: "https://kernelia.dev",
        image: "/projects/kernelia.webp",
        tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND],
    },
    {
        title: t("personal_projects.forgottenbranches.title"),
        description: t("personal_projects.forgottenbranches.description"),
        github: "https://github.com/raulfdeztdo/forgottenbranches",
        link: null,
        image: "/projects/forgottenbranches.webp",
        tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.VITE],
    },
    {
        title: t("personal_projects.devtools.title"),
        description: t("personal_projects.devtools.description"),
        github: "https://github.com/raulfdeztdo/devtools",
        link: "https://devtoolset.netlify.app/",
        image: "/projects/devtools.webp",
        tags: [TAGS.VUE, TAGS.TAILWIND, TAGS.VITE],
    },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
              width={600}
              height={400}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-4" />
                  {t("common.code")}
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  {t("common.link")}
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
